.ulStyle {
  border-left: 5px solid red;
  background-color: #f1f1f1;
  list-style-type: none;
  padding: 10px 20px;
}

span {
  display: inline-block;
  padding: 0 5px;
  background-color: #4caf50;
  margin-left: 10px;
  margin-top: 5px;
  border-radius: 50%;
}
